body
{
    background-image: url(Virus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

#abc
{
    background-color: rgb(70, 80, 219);
    color: antiquewhite;
    text-align: center;
    width: 30%;
    border: 15px ;
    padding: 50px;
    margin: 25px;
    margin-left: 500px;
    display: none;
}

td{
font-size:25px;
padding: 40px;
}
#countryname{
    left: 18%;
    top: 10%;
    background-color: aqua;
    font-family: 'calibri';

}
.button{
    margin-left: 64%;
    background-color :rgb(70, 80, 219);
    font-family: 'calibri';
}